body {
	width: 596px;
	margin: 0 auto;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
	position: relative;
}

#links {
	font-size: 12px;
	position: absolute;
	right: 0px;
	top: 2px;
}
#links a {
	margin-left: 5px;
	color: #000;
}

#todo-list {
	padding: 0px;
}

#todo-list li {
	float: left;
	width: 190px;
	height: 190px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding: 0px;
	list-style: none;
	position: relative;
}

#todo-list li:nth-child(3n+3) { margin-right: 0px; }

#todo-list li img { width: 190px; height: auto }

#todo-list li .remove {
	position: absolute;
	top: 2px;
	right: 2px;
}
#todo-list li a {
	text-decoration: none;
	color: #000;
}

#todo-list li .title, #todo-list li .edit {
	position: absolute;
	left: 5px;
	top: 5px;
}
.edit { visibility: hidden; }
.editing .edit { visibility: visible; }
.editing .title { visibility: hidden; }
#todo-list li .title {
	text-shadow: 0px 0px 5px #fff;
}
